*{
    colorTextButton: black;
    backgroundButton: #a46b14;
    hoverColor: #795014;
    paneColor:#a46b14;
    textColor: white;
    borderPaneColor: #18171c;
    scrollPaneColor: #404040;
    sepColor: #5f5f5f;
    thumbColor: #2f2f2f;
    hoverComboBox: #795014;
    fieldColor: #404040;
    textFieldColor: white;
    sfumaturaColor: linear-gradient(to top,#404040 ,#a46b14 );
    marcheBackColor: #a46b14;
    anchorhomeColor:#404040;
    bottomColor: #404040;
    borderColor: white;
    pagamentoField:  #18171c;
    vboxBorderColor: black;
    StackPane: white;
    listCellColor:#a46b14;
    listCellSelected:#795014;
}
